body 
{
    font-family: "Inter", sans-serif;
}

#main-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;           /* space between cards */
    max-width: 1200px;   /* optional, limits container width */
    margin: 0 auto;      /* centers container */
    padding: 20px;
   
}

.article-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  box-sizing: border-box;
}
.article-card p 
{
    text-overflow: ellipsis;   
}